*{
    margin: 0;
    padding: 0;
}

.container{
    background: url(../images/bg.jpg);
    height: 100vh;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sgnform{
    text-align: left;
    width: 500px;
    background-color: aqua;
    padding: 5px;
    border: 5px solid black;
}